<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SOLANA BOT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css"/>
    <script src="https://unpkg.com/element-plus"></script>
    <script src="https://unpkg.com/@element-plus/icons-vue"></script>
    <style>
        body {
            margin: 0;
        }
    </style>
    </style>

</head>
<body>
<div id="app">
    <div style="margin: 20px">
        <el-card>
            <div style="font-size: 26px;color: #303133;font-weight: bold">
                SOLANA BOT
            </div>
        </el-card>
    </div>
    <div style="padding: 0 20px">
        <el-row :gutter="20">
            <el-col :span="12">
                <el-card class="box-card">
                    <template #header>
                        <div class="card-header">
                            <span>程序配置</span>
                        </div>
                    </template>
                    <div class="text item">
                        <el-form
                                :inline="true"
                                label-width="auto"
                                :model="configForm"
                        >
                            <el-form-item label="狙击模式">
                                <el-switch v-model="configForm.USE_SNIPE_LIST"/>
                            </el-form-item>
                            <el-form-item label="自动模式">
                                <el-switch v-model="configForm.AUTO_TRADING"/>
                            </el-form-item>
                            <el-form-item label="自动出售">
                                <el-switch v-model="configForm.AUTO_SELL_STATUS"/>
                            </el-form-item>
                            <el-form-item label="检查Mint">
                                <el-switch v-model="configForm.CHECK_IF_MINT_IS_RENOUNCED"/>
                            </el-form-item>
                            <el-form-item label="购买重试次数">
                                <el-input v-model="configForm.MAX_BUY_RETRIES"/>
                            </el-form-item>
                            <el-form-item label="出售重试次数">
                                <el-input v-model="configForm.MAX_SELL_RETRIES"/>
                            </el-form-item>
                            <el-form-item label="出售延迟时间">
                                <el-input v-model="configForm.AUTO_SELL_TIME"/>
                            </el-form-item>
                            <el-form-item label="自动购买价格">
                                <el-input v-model="configForm.AUTO_QUOTE_AMOUNT"/>
                            </el-form-item>
                            <el-form-item label="发售时间限制">
                                <el-input v-model="configForm.RUN_LP_TIME"/>
                            </el-form-item>
                            <el-form-item label="流动池限制大小">
                                <el-input v-model="configForm.POOL_SIZE">
                            </el-form-item>
                            <el-form-item label="MicroLamports">
                                <el-input v-model="configForm.MICROLAMPORTS"/>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="setConfig">保存</el-button>
                                <el-button @click="getConfig">刷新</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </el-card>
            </el-col>
            <el-col :span="12">
                <el-card class="box-card">
                    <template #header>
                        <div class="card-header">
                            <el-space wrap>
                                <span>快速交易</span>
                                <el-button size="small" type="warning" @click="refreshWallet">
                                    刷新
                                </el-button>
                            </el-space>
                        </div>
                    </template>
                    <div class="text item">
                        <div>钱包地址: {{wallet.pubkey}}</div>
                        <div>SOL余额: {{wallet.sol}}</div>
                        <el-divider border-style="dashed"></el-divider>
                        <div style="">
                            <el-form
                                    label-width="auto"
                            >
                                <el-form-item label="快速选择">
                                    <el-select placeholder="快捷选择钱包代币" @change="selectToken">
                                        <el-option
                                                v-for="token in tokenData"
                                                :key="token.label"
                                                :label="token.label"
                                                :value="token.value"
                                        ></el-option>
                                    </el-select>
                                </el-form-item>
                                <el-form-item label="地址输入">
                                    <el-input v-model="payData.mint" placeholder="请输入代币的地址" clearable/>
                                </el-form-item>
                                <el-form-item label="买卖数量">
                                    <el-input v-model="payData.amount" placeholder="请输入代币的数量" clearable/>
                                </el-form-item>
                                <el-form-item label="快捷操作">
                                    <el-button type="primary" @click="buy">
                                        快速买入
                                    </el-button>
                                    <el-button type="danger" @click="sell">
                                        快速卖出
                                    </el-button>
                                    <el-button type="warning" @click="cloneAccount">
                                        快速注销空账户
                                    </el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                    </div>
                </el-card>
            </el-col>
        </el-row>

    </div>
    <div style="padding: 0 20px;margin: 20px 0">
        <el-row :gutter="20">
            <el-col :span="12">
                <el-card class="box-card">
                    <template #header>
                        <div class="card-header">
                            <span>狙击列表</span>
                        </div>
                    </template>
                    <div class="text item">
                        <el-table :data="tasksData" max-height="500">
                            <el-table-column prop="baseMint" label="baseMint"></el-table-column>
                            <el-table-column prop="amount" label="amount"></el-table-column>
                            <el-table-column prop="updatedAt" label="updatedAt"></el-table-column>
                            <el-table-column align="right">
                                <template #default="scope">
                                    <el-button size="small" type="danger" @click="deleteTasks(scope.row)">删除
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div style="margin-top: 10px">
                            <el-button type="primary" @click="openAddTasks">新增</el-button>
                            <el-button @click="getTasks">刷新</el-button>
                        </div>
                    </div>
                </el-card>
            </el-col>
            <el-col :span="12">
                <el-card class="box-card">
                    <template #header>
                        <div class="card-header">
                            <span>任务日志</span>
                        </div>
                    </template>
                    <div class="text item">
                        <el-table :data="tasksLogData" max-height="500">
                            <el-table-column prop="baseMint" label="baseMint"></el-table-column>
                            <el-table-column prop="amount" label="amount"></el-table-column>
                            <el-table-column prop="status" label="status"></el-table-column>
                            <el-table-column prop="updatedAt" label="updatedAt"></el-table-column>
                            <el-table-column align="right">
                                <template #default="scope">
                                    <el-button size="small" type="danger" @click="open_solscan(scope.row)">solscan
                                    </el-button>
                                    <el-button size="small" type="danger" @click="open_dexscreener(scope.row)">
                                        dexscreener
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div style="margin-top: 10px">
                            <el-button type="primary" @click="deleteTasksLog">一键清空</el-button>
                            <el-button @click="getTasksLog">刷新</el-button>
                        </div>
                    </div>
                </el-card>
            </el-col>

        </el-row>
    </div>
    <el-dialog v-model="addTasksVisible" title="新增狙击任务">
        <el-form :model="addTasksData" label-position="top">
            <el-form-item label="baseMint">
                <el-input v-model="addTasksData.baseMint"/>
            </el-form-item>
            <el-form-item label="amount">
                <el-input v-model="addTasksData.amount"/>
            </el-form-item>
        </el-form>
        <template #footer>
            <div class="dialog-footer">
                <el-button @click="addTasksVisible = false">取消</el-button>
                <el-button type="primary" @click="addTasks">新增</el-button>
            </div>
        </template>
    </el-dialog>
</div>

</body>

<script>
    const {createApp, ref} = Vue
    const {ElMessage, ElNotification} = ElementPlus;
    createApp({
        setup() {
            const configForm = ref({
                USE_SNIPE_LIST: false,
                MAX_BUY_RETRIES: 2,
                MAX_SELL_RETRIES: 5,
                MICROLAMPORTS: 250000,
                AUTO_TRADING: false,
                AUTO_QUOTE_AMOUNT: 0.01,
                AUTO_SELL_STATUS: false,
                CHECK_IF_MINT_IS_RENOUNCED: false,
                POOL_SIZE: 1000,
                AUTO_SELL_TIME: 60,
                RUN_LP_TIME: 60
            })

            const tasksData = ref([])

            const tasksLogData = ref([])

            const addTasksVisible = ref(false)

            const addTasksData = ref({
                "baseMint": "",
                "amount": ""
            })

            const wallet = ref({
                "pubkey": "",
                "sol": ""
            })

            const tokenData = ref([])

            const payData = ref({
                "mint": "",
                "amount": "",
            })

            const openAddTasks = () => {
                addTasksVisible.value = true
                addTasksData.value = {
                    "baseMint": "",
                    "amount": ""
                }
            }

            const getConfig = () => {
                axios.get('/api/get_config')
                    .then(function (response) {
                        console.log(response);
                        configForm.value = response.data
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            }

            const setConfig = () => {
                axios.post('/api/set_config', configForm.value)
                    .then(function (response) {
                        // 请求成功时的处理
                        console.log(response);
                        ElMessage("程序配置信息已保存")
                        getConfig()
                    })
                    .catch(function (error) {
                        // 请求失败时的处理
                        console.error(error);
                    });
            }

            const getTasks = () => {
                axios.get('/api/get_tasks')
                    .then(function (response) {
                        console.log(response);
                        tasksData.value = response.data
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            }

            const addTasks = () => {
                axios.post('/api/create_tasks', addTasksData.value)
                    .then(function (response) {
                        // 请求成功时的处理
                        console.log(response);
                        getTasks()
                        addTasksVisible.value = false
                    })
                    .catch(function (error) {
                        // 请求失败时的处理
                        console.error(error);
                    });
            }

            const deleteTasks = (data) => {
                axios.post('/api/delete_tasks', {"id": data.id})
                    .then(function (response) {
                        // 请求成功时的处理
                        console.log(response);
                        getTasks()
                    })
                    .catch(function (error) {
                        // 请求失败时的处理
                        console.error(error);
                    });
            }

            const getTasksLog = () => {
                axios.get('/api/get_tasks_log')
                    .then(function (response) {
                        console.log(response);
                        tasksLogData.value = response.data
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            }

            const deleteTasksLog = () => {
                axios.get('/api/delete_tasks_log')
                    .then(function (response) {
                        console.log(response);
                        getTasksLog()
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            }

            const open_solscan = (data) => {
                const url = "https://solscan.io/tx/" + data.tx
                window.open(url, "_blank");
            }
            const open_dexscreener = (data) => {
                const url = "https://dexscreener.com/solana/" + data.baseMint + "?maker=" + data.pubkey
                window.open(url, "_blank");
            }

            const getWallet = () => {
                axios.get('/api/get_wallet')
                    .then(function (response) {
                        console.log(response);
                        wallet.value = response.data
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            }
            const getToken = () => {
                axios.get('/api/get_token')
                    .then(function (response) {
                        console.log(response);
                        tokenData.value = response.data
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            }

            const buy = () => {
                const data = payData.value
                if (data.mint.length === 0) {
                    ElMessage("代币地址不能为空")
                    return
                }
                axios.post('/api/buy', data)
                    .then(function (response) {
                        // 请求成功时的处理
                        console.log(response);
                        ElNotification({
                            title: '购买通知',
                            message: response.data
                        })
                    })
                    .catch(function (error) {
                        // 请求失败时的处理
                        console.error(error);
                        ElNotification({
                            title: '购买通知',
                            message: "购买异常"
                        })
                    });
            }
            const cloneAccount = () => {
                axios.get('/api/clone_account')
                    .then(function (response) {
                        console.log(response);
                        ElNotification({
                            title: '任务通知',
                            message: response.data
                        })
                    })
                    .catch(function (error) {
                        console.error(error);
                        ElNotification({
                            title: '任务通知',
                            message: "任务下发异常"
                        })
                    });
            }
            const sell = () => {
                const data = payData.value
                if (data.mint.length === 0) {
                    ElMessage("代币地址不能为空")
                    return
                }
                axios.post('/api/sell', data)
                    .then(function (response) {
                        // 请求成功时的处理
                        console.log(response);
                        ElNotification({
                            title: '出售通知',
                            message: response.data
                        })
                    })
                    .catch(function (error) {
                        // 请求失败时的处理
                        console.error(error);
                        ElNotification({
                            title: '出售通知',
                            message: "出售异常"
                        })
                    });
            }

            const refreshWallet = () => {
                getWallet()
                getToken()
            }

            const selectToken = (value) => {
                payData.value = value
            }
            // 刷新时执行
            getConfig()
            getTasks()
            getTasksLog()
            getWallet()
            getToken()
            setInterval(getTasksLog, 1000);
            return {
                configForm,
                getConfig,
                setConfig,
                tasksData,
                getTasks,
                addTasksVisible,
                addTasksData,
                openAddTasks,
                addTasks,
                deleteTasks,
                getTasksLog,
                deleteTasksLog,
                open_solscan,
                open_dexscreener,
                tasksLogData,
                tokenData,
                getWallet,
                wallet,
                selectToken,
                payData,
                refreshWallet,
                buy,
                sell,
                cloneAccount
            }
        }
    }).use(ElementPlus).mount('#app')
</script>
</html>