<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SOLANA BOT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css"/>
    <script src="https://unpkg.com/element-plus"></script>
    <style>
        body {
            margin: 0;
        }
    </style>
    </style>

</head>
<body>
<div id="app">
    <div style="margin: 20px">
        <el-card>
            <div style="font-size: 26px;color: #303133;font-weight: bold">
                SOLANA BOT
            </div>
        </el-card>
    </div>
    <div style="padding: 0 20px">
        <el-row :gutter="20">
            <el-col :span="12">
                <el-card class="box-card">
                    <template #header>
                        <div class="card-header">
                            <span>程序配置</span>
                        </div>
                    </template>
                    <div class="text item">
                        <el-form
                                :inline="true"
                                label-width="auto"
                                :model="configForm"
                        >
                            <el-form-item label="狙击模式">
                                <el-switch v-model="configForm.USE_SNIPE_LIST"/>
                            </el-form-item>
                            <el-form-item label="自动模式">
                                <el-switch v-model="configForm.AUTO_TRADING"/>
                            </el-form-item>
                            <el-form-item label="自动出售">
                                <el-switch v-model="configForm.AUTO_SELL_STATUS"/>
                            </el-form-item>
                            <el-form-item label="检查Mint">
                                <el-switch v-model="configForm.CHECK_IF_MINT_IS_RENOUNCED"/>
                            </el-form-item>
                            <el-form-item label="购买重试次数">
                                <el-input v-model="configForm.MAX_BUY_RETRIES"/>
                            </el-form-item>
                            <el-form-item label="出售重试次数">
                                <el-input v-model="configForm.MAX_SELL_RETRIES"/>
                            </el-form-item>
                            <el-form-item label="出售延迟时间">
                                <el-input v-model="configForm.AUTO_SELL_TIME"/>
                            </el-form-item>
                            <el-form-item label="自动购买价格">
                                <el-input v-model="configForm.AUTO_QUOTE_AMOUNT"/>
                            </el-form-item>
                            <el-form-item label="发售时间限制">
                                <el-input v-model="configForm.RUN_LP_TIME"/>
                            </el-form-item>
                            <el-form-item label="流动池限制大小">
                                <el-input v-model="configForm.POOL_SIZE">
                            </el-form-item>
                            <el-form-item label="MicroLamports">
                                <el-input v-model="configForm.MICROLAMPORTS"/>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="setConfig">保存</el-button>
                                <el-button @click="getConfig">刷新</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </el-card>
            </el-col>
            <el-col :span="12">
                <el-card class="box-card">
                    <template #header>
                        <div class="card-header">
                            <span>狙击列表</span>
                        </div>
                    </template>
                    <div class="text item">
                        <el-table :data="tasksData" max-height="450">
                            <el-table-column prop="baseMint" label="baseMint"></el-table-column>
                            <el-table-column prop="amount" label="amount"></el-table-column>
                            <el-table-column prop="updatedAt" label="updatedAt"></el-table-column>
                            <el-table-column align="right">
                                <template #default="scope">
                                    <el-button size="small" type="danger" @click="deleteTasks(scope.row)">删除
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div style="margin-top: 10px">
                            <el-button type="primary" @click="openAddTasks">新增</el-button>
                            <el-button @click="getTasks">刷新</el-button>
                        </div>
                    </div>
                </el-card>
            </el-col>
        </el-row>

    </div>
    <div style="padding: 0 20px;margin-top: 20px">
        <el-row :gutter="20">
            <el-col :span="12">
                <el-card class="box-card">
                    <template #header>
                        <div class="card-header">
                            <span>任务日志</span>
                        </div>
                    </template>
                    <div class="text item">
                        <el-table :data="tasksLogData" max-height="450">
                            <el-table-column prop="baseMint" label="baseMint"></el-table-column>
                            <el-table-column prop="amount" label="amount"></el-table-column>
                            <el-table-column prop="status" label="status"></el-table-column>
                            <el-table-column prop="updatedAt" label="updatedAt"></el-table-column>
                            <el-table-column align="right">
                                <template #default="scope">
                                    <el-button size="small" type="danger" @click="open_solscan(scope.row)">solscan
                                    </el-button>
                                    <el-button size="small" type="danger" @click="open_dexscreener(scope.row)">
                                        dexscreener
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <div style="margin-top: 10px">
                            <el-button type="primary" @click="deleteTasksLog">一键清空</el-button>
                            <el-button @click="getTasksLog">刷新</el-button>
                        </div>
                    </div>
                </el-card>
            </el-col>
            <el-col :span="12">
                <el-card class="box-card">
                    <template #header>
                        <div class="card-header">
                            <span>快速交易</span>
                        </div>
                    </template>
                    <div class="text item">
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </div>
    <el-dialog v-model="addTasksVisible" title="新增狙击任务">
        <el-form :model="addTasksData" label-position="top">
            <el-form-item label="baseMint">
                <el-input v-model="addTasksData.baseMint"/>
            </el-form-item>
            <el-form-item label="amount">
                <el-input v-model="addTasksData.amount"/>
            </el-form-item>
        </el-form>
        <template #footer>
            <div class="dialog-footer">
                <el-button @click="addTasksVisible = false">取消</el-button>
                <el-button type="primary" @click="addTasks">新增</el-button>
            </div>
        </template>
    </el-dialog>
</div>

</body>

<script>
    const {createApp, ref, reactive} = Vue

    createApp({
        setup() {
            const configForm = ref({
                USE_SNIPE_LIST: false,
                MAX_BUY_RETRIES: 2,
                MAX_SELL_RETRIES: 5,
                MICROLAMPORTS: 250000,
                AUTO_TRADING: false,
                AUTO_QUOTE_AMOUNT: 0.01,
                AUTO_SELL_STATUS: false,
                CHECK_IF_MINT_IS_RENOUNCED: false,
                POOL_SIZE: 1000,
                AUTO_SELL_TIME: 60,
                RUN_LP_TIME: 60
            })

            const tasksData = ref([])

            const tasksLogData = ref([])

            const addTasksVisible = ref(false)

            const addTasksData = ref({
                "baseMint": "",
                "amount": 0.01
            })

            const openAddTasks = () => {
                addTasksVisible.value = true
                addTasksData.value = {
                    "baseMint": "",
                    "amount": 0.01
                }
            }

            const getConfig = () => {
                axios.get('/api/get_config')
                    .then(function (response) {
                        console.log(response);
                        configForm.value = response.data
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            }

            const setConfig = () => {
                axios.post('/api/set_config', configForm.value)
                    .then(function (response) {
                        // 请求成功时的处理
                        console.log(response);
                        getConfig()
                    })
                    .catch(function (error) {
                        // 请求失败时的处理
                        console.error(error);
                    });
            }

            const getTasks = () => {
                axios.get('/api/get_tasks')
                    .then(function (response) {
                        console.log(response);
                        tasksData.value = response.data
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            }

            const addTasks = () => {
                axios.post('/api/create_tasks', addTasksData.value)
                    .then(function (response) {
                        // 请求成功时的处理
                        console.log(response);
                        getTasks()
                        addTasksVisible.value = false
                    })
                    .catch(function (error) {
                        // 请求失败时的处理
                        console.error(error);
                    });
            }

            const deleteTasks = (data) => {
                axios.post('/api/delete_tasks', {"id": data.id})
                    .then(function (response) {
                        // 请求成功时的处理
                        console.log(response);
                        getTasks()
                    })
                    .catch(function (error) {
                        // 请求失败时的处理
                        console.error(error);
                    });
            }

            const getTasksLog = () => {
                axios.get('/api/get_tasks_log')
                    .then(function (response) {
                        console.log(response);
                        tasksLogData.value = response.data
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            }

            const deleteTasksLog = () => {
                axios.get('/api/delete_tasks')
                    .then(function (response) {
                        console.log(response);
                        getTasksLog()
                    })
                    .catch(function (error) {
                        console.error(error);
                    });
            }

            const open_solscan = (data) => {
                const url = "https://solscan.io/tx/" + data.tx
                window.open(url, "_blank");
            }
            const open_dexscreener = (data) => {
                const url = "https://dexscreener.com/solana/" + data.baseMint + "?maker=" + data.pubkey
                window.open(url, "_blank");
            }
            // 刷新时执行
            getConfig()
            getTasks()
            getTasksLog()
            return {
                configForm,
                getConfig,
                setConfig,
                tasksData,
                getTasks,
                addTasksVisible,
                addTasksData,
                openAddTasks,
                addTasks,
                deleteTasks,
                getTasksLog,
                deleteTasksLog,
                open_solscan,
                open_dexscreener,
                tasksLogData
            }
        }
    }).use(ElementPlus).mount('#app')
</script>
</html>